.i-featured-wrapper {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.i-featured-product {
  width: 100%;
  height: 100%;
  position: relative;
}

.i-featured-product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.i-featured-product .product-details {
  position: absolute;
  bottom: 60px;
  right: 10%;
  z-index: 1;
  color: #000;
}

.i-featured-product .product-details::after {
  content: '';
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
